body{
font-family: 'Roboto Slab', sans-serif;	
color: #484F56;
}

body h5 h4{
	font-size: 16px;
	font-weight: bold;
	color: #484F56;
}


p {
font-family: 'Open Sans';
text-align: justify;
}

ul {
	font-family: 'Open Sans';
	text-align: justify;
}

.row > form {
	border: 1px solid #F3C71E;
	margin-top: 5%;
	padding:5%;
}

#in {
font-family: 'Roboto Slab';
text-align: justify;
}

.card-text > p {
font-family: 'Open Sans';
text-align: left;
}

.navbar-light .navbar-brand {
	color: #F3C71E; 
	font-family: 'Roboto Slab', sans-serif;	
	font-weight: bold;
	font-size: xx-large;
	margin-left: 10px;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  	color: #484F56;
}

.navbar-light .navbar-nav .nav-link {
  	color: #484F56;
  	font-family: 'Roboto Slab', sans-serif;	
}

.navbar-light .navbar-nav .active > .nav-link {
	color: #2B2F33;
	font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
	color: #F3C71E;
}

#column, h5 h4{
	color: #2B2F33;
}

		
#column{
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;
}

.carousel-item img{
	margin: auto; 
	display: block;
 }
 
.carousel-control-next-icon,
.carousel-control-prev-icon {
 	filter: invert(1);
}

.btn-primary {
  color: #2B2F33;
  background-color: #fff;
  border-color: #F3C71E;
  width:100%;
}

.btn-primary:hover {
  color: #fff;
  background-color: #F3C71E;
  border-color: #0062cc;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #2B2F33;
  background-color: #fff;
  border-color: #F3C71E;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
  font-weight: bold;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #F3C71E;
  border-color: #6c757d;
}

.figure-caption {
  font-size: 100%;
  color: #484F56;
}



$('.carousel').carousel({
  	interval: 3000
})


